@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/imagens/futsal-1024x682.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

table {
    margin: auto;
    border-collapse: collapse;
    width: 320px;
    margin-top: 20px;
}

table td, th {
    border: solid 1px black;
    padding: 10px 6px;
    text-align: center;
}

.tabela-jogos th {
    text-transform: uppercase;
}

.div-tabela {
    overflow-x: auto;
}

caption {
    background-color: lightgray;
    padding: 5px 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.imagem-bandeira {
    width: 23px;
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.imagem-bola {
    width: 18px;
    position: relative;
    top: 3px;
    margin-left: 5px;
}


.coluna-time {
    background-color: lightgray;
}

.coluna-pontos {
    background-color: white;
}

.coluna-saldo-de-gols {
    background-color: lightgray;
}

.coluna-gols {
    background-color: white;
}

.coluna-gols-sofridos {
    background-color: lightgray;
}

.coluna-jogos {
    background-color: white;
}

.coluna-vitorias {
    background-color: lightgray;
}

.coluna-derrotas {
    background-color: white;
}

.coluna-empates {
    background-color: lightgray;
}

/* cor das colunas dos artilheiros abaixo: */

.coluna-nomeA {
    background-color: lightgray;
}

.coluna-timeA {
    background-color: white;
}

.coluna-golsA {
    background-color: lightgray;
}

/* cor das colunas site jogos abaixo: */

.coluna-time-lado-esquerdo {
    background-color: lightgray;
}

.coluna-resultado {
    background-color: white;
}

.coluna-time-lado-direito {
    background-color: lightgray;
}

.coluna-time-jogos {
    background-color: lightgray;
}

.coluna-numero-de-jogos {
    background-color: white;
}

footer {
    text-align: center;
    background-color: lightgray;
    margin-top: 40px;
    padding: 10px;
}

footer a {
    color: rgb(56, 56, 56);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: blue;
}